<div class="container">
  <h1 class="display-3 text-center mb-4">Graph Algorithm Simulator</h1>
  <hr class="hr hr-blurry" />

  <div class="d-flex justify-content-center mb-4">
    <button
      (click)="selectStartNodeClick()"
      [disabled]="simulationStarted"
      type="button"
      class="mx-2 btn btn-outline-dark btn-lg btn-rounded"
      mdbRipple
      rippleColor="dark"
    >
      Select Start Node
    </button>
    <button
      [disabled]="simulationStarted"
      (click)="selectEndNodeClick()"
      type="button"
      class="mx-2 btn btn-outline-dark btn-lg btn-rounded"
      mdbRipple
      rippleColor="dark"
    >
      Select End Node
    </button>
    <button
      [disabled]="simulationStarted"
      (click)="selectAddWallClick()"
      type="button"
      class="mx-2 btn btn-outline-dark btn-lg btn-rounded"
      mdbRipple
      rippleColor="dark"
    >
      Add Wall
    </button>
  </div>

  <div *ngIf="!destinationReachable" class="d-flex justify-content-center mb-4">
    <p class="h3 text-danger">Destination Node is not reachable</p>
  </div>

  <div class="d-flex justify-content-center mb-3">
    <table>
      <tr *ngFor="let row of matrix; index as r">
        <td
          *ngFor="let col of row; index as c"
          [ngClass]="getNodeClassNames(col)"
          class="block border border-2 text-center"
          (click)="nodeClick(col)"
        >
          {{ col.isWall ? "" : col.id }}
        </td>
      </tr>
    </table>
  </div>

  <div class="d-flex justify-content-center">
    <button
      [disabled]="simulationStarted"
      (click)="startSimulation()"
      type="button"
      class="mx-2 btn btn-outline-dark btn-lg btn-rounded"
      mdbRipple
      rippleColor="dark"
    >
      Start Simulation
    </button>
    <button
      [disabled]="resetDisabled"
      (click)="reset()"
      type="button"
      class="mx-2 btn btn-outline-dark btn-lg btn-rounded"
      mdbRipple
      rippleColor="dark"
    >
      Reset
    </button>
  </div>
  <hr class="hr hr-blurry" />
</div>
