.block-green {
  width: 50px;
  height: 50px;
  background-color: #aaf5a9;
}

.green {
  background-color: #aaf5a9;
}

.grey {
  background-color: #8b8f8b;
}

.orange {
  background-color: #f2a191;

}

.block {
  width: 60px;
  height: 60px;
  //background-color: #aaf5a9;
}

.wall {
  background-color: #8b8f8b;
  transition: background-color .4s ease-in;
}


.paste {
  background-color: #4ecdc4;
}

//.orange {
//  background-color: #ff6b6b;
//}

.yellow {
  background-color: #ffe66d;
}

.black {
  background-color: #292f36;
}
