<div class="container">
  <h1 class="display-3 text-center mb-4">Graph Algorithm Simulator</h1>
  <hr class="hr hr-blurry" />

  <div class="d-flex justify-content-center mb-4">
    <div mdbDropdown class="btn-group shadow-0">
      <button
        [disabled]="simulationStarted"
        type="button"
        class="mx-2 btn btn-outline-dark btn-lg btn-rounded dropdown-toggle"
        mdbDropdownToggle
        aria-expanded="false"
      >
        {{ size + " x " + size }}
      </button>
      <ul mdbDropdownMenu class="dropdown-menu">
        <li><a *ngFor="let sz of sizeList" (click)="selectSize(sz)" class="dropdown-item">{{ sz + " x " + sz }}</a></li>
      </ul>
    </div>

    <button
      (click)="selectStartNodeClick()"
      [disabled]="simulationStarted"
      type="button"
      class="mx-2 btn btn-outline-dark btn-lg btn-rounded"
      mdbRipple
      rippleColor="dark"
    >
      Select Start Node
    </button>
    <button
      [disabled]="simulationStarted"
      (click)="selectEndNodeClick()"
      type="button"
      class="mx-2 btn btn-outline-dark btn-lg btn-rounded"
      mdbRipple
      rippleColor="dark"
    >
      Select End Node
    </button>
    <button
      [disabled]="simulationStarted"
      (click)="selectAddWallClick()"
      type="button"
      class="mx-2 btn btn-outline-dark btn-lg btn-rounded"
      mdbRipple
      rippleColor="dark"
    >
      Add Wall
    </button>

    <div mdbDropdown class="btn-group shadow-0">
      <button
        [disabled]="simulationStarted"
        type="button"
        class="mx-2 btn btn-outline-dark btn-lg btn-rounded dropdown-toggle"
        mdbDropdownToggle
        aria-expanded="false"
      >
        {{ selectedAlgorithm || "Select Algorithm" }}
      </button>
      <ul mdbDropdownMenu class="dropdown-menu">
        <li><a (click)="selectAlgorithm(algorithms.BFS)" class="dropdown-item">BFS</a></li>
        <li><a (click)="selectAlgorithm(algorithms.DFS)" class="dropdown-item">DFS</a></li>
<!--        <li><a class="dropdown-item">Something else here</a></li>-->
      </ul>
    </div>
  </div>

  <div *ngIf="!destinationReachable" class="d-flex justify-content-center mb-4">
    <p class="h3 text-danger">Destination Node is not reachable</p>
  </div>

  <div *ngIf="pathBuilt" class=" mb-4">
    <div >
      <div class="container text-center">
        <p class="h3 text-success">Path from {{ startNode && startNode.id }} to {{ destinationNode && destinationNode.id }} using {{ selectedAlgorithm + " Algorithm" }}</p>

        <div *ngFor="let node of pathList; index as i" class="mb-2 d-inline-block">
          <button  class="mx-1 btn btn-outline-success btn-floating">
            {{node.id}}
          </button>
          <span class="mb-1 d-inline-block">{{ i + 1 < pathList.length ? "-->" : "." }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center mb-3">
    <table>
      <tr *ngFor="let row of matrix; index as r">
        <td
          *ngFor="let col of row; index as c"
          [ngClass]="getNodeClassNames(col)"
          class="block border border-2 text-center"
          (click)="nodeClick(col)"
        >
          {{ col.isWall ? "" : col.id }}
        </td>
      </tr>
    </table>
  </div>

  <div class="d-flex justify-content-center">
    <button
      [disabled]="simulationStarted"
      (click)="startSimulation()"
      type="button"
      class="mx-2 btn btn-outline-dark btn-lg btn-rounded"
      mdbRipple
      rippleColor="dark"
    >
      Start Simulation
    </button>
    <button
      [disabled]="resetDisabled"
      (click)="reset()"
      type="button"
      class="mx-2 btn btn-outline-dark btn-lg btn-rounded"
      mdbRipple
      rippleColor="dark"
    >
      Reset
    </button>
  </div>
  <hr class="hr hr-blurry" />
</div>
